@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
.invalid {
    border: 2px solid red;
}

.valid{
    border: 2px solid green;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

